@import "components.css";
@import "footer.css";
@import "header.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");

body {
    font-family: "Noto Sans", serif;
    margin: 0;
}

.theme-dark {
    color: white;
    background-color: #1a1a1e;
}

section {
     padding: 50px 15%;

     h1 {
         font-size: 40px;
     }

     svg {
         margin: 0 auto 0 auto;
     }
 }

.section-filled {
    background-color: #ff006a;

    color: white;
}

.theme-light #button-dark-mode-toggle {
    color: black;
}
.theme-dark #button-dark-mode-toggle {
    color: white;
}
