.button {
    margin: 0 10px;
    padding: 10px 20px;
    border-radius: 30px;

    font-family: "Noto Sans", serif;
    font-weight: bolder;

    text-decoration: none;

    transition-duration: 200ms;
}

.button-filled {
    color: white !important;

    background-color: #ff336a !important;
}

.button-filled:hover {
    background-color: #f58 !important;
}

.theme-light .button {
    color: black;
    background-color: #ddd;
}

.theme-light .button:hover {
    background-color: #ccc;
}

.theme-dark .button {
    color: lightgray;
    background-color: #2a2a2e;
}

.theme-dark .button:hover {
    background-color: black;
}
