<!DOCTYPE html>
<html lang="{{ .lang }}">
<head>
<title>{{ .title }}</title>
{{ template "head.html" .head }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/vs2015.min.css">
<link rel="stylesheet" href="{{ (getAttr).templateBase }}/css/doc.css"/>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
<script type="text/javascript" src="{{ (getAttr).templateBase }}/script/blockquote.js"></script>
<script type="text/javascript" src="{{ (getAttr).templateBase }}/script/doc.js"></script>
<script type="text/javascript">hljs.highlightAll()</script>
</head>
<body class="theme-{{ .theme }}" onload="initDarkMode(); initDoc(); generateAllBlockquotes()">
{{ template "header.html" .header }}
<div style="min-height: 100%">
<aside id="sidenav"></aside>
<aside class="content">{{ render .post }}</aside>
</div>
{{ template "footer.html" .footer }}
</body>
</html>
