<div class="footer">
<div class="footer-row">

<div class="footer-link-list-block">
<img src="{{ .logo.src }}" width="{{ .logo.width }}" height="{{ .logo.height }}" alt="logo"/>
</div>
<div style="margin-left: 100px"></div>

{{ range .lists }}
<div class="footer-link-list-block">
<div class="footer-link-list-title">{{ .title }}</div>
<div class="footer-link-list">

{{ range .links }}
<a target="_blank" href="{{ .link }}">{{ .name }}</a>
{{ end }}

</div>
</div>
{{ end }}

<div class="footer-link-list-block" style="margin-left: auto">
<div class="footer-icon-list">
{{ range .media.list }}
<a class="footer-icon" target="_blank" href="{{ .link }}">
<img src="https://simpleicons.org/icons/{{ .icon }}.svg" alt="{{ .icon }}"/>
</a>
{{ end }}
</div>

</div>
</div>

<hr class="footer-hr"/>

<div class="footer-row">
<div class="footer-link-list-block">
{{ with .copyright }}
<span style="font-weight: bold">&copy; Copyright {{ .date }} {{ .owner }}</span>
<span>{{ .license }}</span>
{{ end }}
</div>

<div style="color: gray; margin-left: auto">
Proudly built with
<a target="_blank" href="https://pagine.symboltics.com">
<img style="vertical-align: text-top" src="{{ (getAttr).templateBase }}/img/pagine_mono.svg" height="30px" alt="pagine"/>
</a>
</div>

</div>
</div>
