<div class="nav-bar">
<a href="/"><img src="{{ .header.logo.src }}" alt="logo" width="{{ .header.logo.width }}" height="{{ .header.logo.height }}"/></a>
<div style="margin: auto"></div>
<nav style="display: flex; flex-direction: row; align-items: center">
{{ range .header.nav }}
<a
{{ if strings.HasPrefix .link "https://" }}
target="_blank" class="nav-item-link-external" href="{{ .link }}"
{{ else }}
class="nav-item-link" href="{{ .link }}"
{{ end }}
>{{ .title }}</a>
{{ end }}
<span onclick="toggleDarkMode()" id="button-dark-mode-toggle" class="icon-button material-symbols-outlined"></span>
</nav>
</div>
