<div class="nav-bar">
{{ with .nav }}
<a href="/"><img src="{{ .logo.src }}" alt="logo" width="{{ .logo.width }}" height="{{ .logo.height }}"/></a>
<div style="margin: 0 auto"></div>
<nav style="display: flex; flex-direction: row; align-items: center">
{{ range .items }}
<a {{ if hasPrefix .link "https://" }} target="_blank" class="nav-item-link-external" {{ else }} class="nav-item-link" {{ end }} href="{{ .link }}">{{ .title }}</a>
{{ end }}
<a href="#" onclick="toggleDarkMode()"><span id="button-dark-mode-toggle" class="material-symbols-outlined"></span></a>
</nav>
</div>
{{ end }}
