<html lang="{{ .lang }}">
<head>
<title>{{ .title }}</title>
{{ template "head.html" .head }}
<script>
switch (navigator.language) {
{{ range .locales }}
case "{{ .locale }}": window.location.href = "{{ .locale }}";
{{ end }}
}
</script>
</head>
<body class="theme-{{ .theme }}" onload="initDarkMode()">
<div style="height: 100vh; display: flex; flex-direction: column; align-items: center; gap: 1vh; text-align: center">
<div style="height: 10vh"></div>
<h1>We didn't detect your locale. Choose your language.</h1>
<div style="display: flex; flex-direction: column; gap: 10px">
{{ range .locales }}
<a class="button" href="/{{ .locale }}">{{ .title }}</a>
{{ end }}
</div>
</div>
</body>
</html>
